@import "./normalize.css";
@import "https://at.alicdn.com/t/font_2546450_63xudp4s36h.css";

/*:root -> 获取根元素html*/

:root {
    --white-font-clolr: #ffffff;
    --color-high-text: #005389;
    --color-tint: #005389;
    --color-background: #fff;
    --home-content-background: #034db6;
    --home-element-background: #034db6;
    --body-font-size: 12px;
    --line-height: 1.5;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    user-select: none;
    /* 禁止用户鼠标在页面上选中文字/图片等 */
    -webkit-tap-highlight-color: transparent;
    /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    background: var(--color-background);
    color: var(--color-text);
    /* rem vw/vh */
    width: 100vw;
    font-family: "Microsoft YaHei";
}

a {
    color: var(--color-text);
    text-decoration: none;
}

button,
input,
select,
textarea {
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
    background: none;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb!important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
}

img {
    border: none;
    display: block;
}

::-webkit-scrollbar {
    display: none;
}

.pc {
    width: 1200px;
    margin: 0 auto;
}
.m {
    margin: 0 0.27rem;
}
.text1hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.text3hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

p.img {
    font-size: 0;
    height: 100%;
}

a {
    cursor: pointer;
}
.breadcrumb {
    background-color: #f4f4f4;
    margin-bottom: 90px;
}
.breadcrumb, .bread-crumbs {
    height: 60px;
    border: unset;
}